* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #6D6D6D;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.container {
  height: calc(100% - 90px);
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

h2, h5, h6 {
  color: white;
}

a {
  text-decoration: none;
  color: #6D6D6D;
}

a:hover {
  color: white;
}

.bar {
  position: relative;
  display: inline-block;
  height: 4px;
  vertical-align: middle;
  background-color: #5A5A5A;
  cursor: pointer;
}

.bar.small {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #C1C1C1;
}

.bar i {
  display: none;
  position: absolute;
  top: -6px;  
  color: white;
}

.bar:hover .bar.small {
  background-color: #ADFF2F;
}

.bar:hover i {
  display: block;
}

/***** ASIDE *****/
aside {
  float: left;
  height: 100%;
  width: 230px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

/*** menù top ***/
.menu-top {
  height: calc(100% - 80px);
  min-height: 340px; 
  overflow: hidden;
}

.menu-top ul {
  list-style: none;
}

.menu-top ul li {
  line-height: 35px;
}

/* logo */
aside .logo {
  padding: 20px;
}

aside .logo img {
  height: 45px;
}

/* icons */
aside .icons {
  padding-bottom: 25px;
}

aside .icons img {
  height: 25px;
  vertical-align: middle;
  filter: invert(0.5);
  padding-left: 20px;
  padding-right: 3px;
}

aside .icons li.active a {
  color: white;
}  

aside .icons li.active {
  border-left: 3px solid #ADFF2F;  
}

aside .icons li.active a img {
 filter: invert(0);
}

aside .icons a:hover img {
  filter: invert(0);
}

/* playlist */
aside .playlist {
 padding-left: 20px;
}

aside .playlist h5 {
  text-transform: uppercase;
}

aside .playlist i {
  font-size: 15px;
  padding: 10px;
  margin: 15px 7px 5px 0;
  color: black;
  background-color: #6D6D6D;
}

aside .playlist a:hover i {
  background-color: white;
}

.playlist ul {
  min-height: 60px; 
  overflow: auto;
}

/** menù bottom **/
aside .menu-bottom {
  height: 80px;
  margin: 0 20px;
}

.menu-bottom .installa {
  padding-bottom: 10px;  
  border-bottom: 1px solid #6D6D6D;
  margin-bottom: 10px;
}

.menu-bottom .installa img {
  height: 20px;
  vertical-align: middle;
  filter: invert(0.5);
  margin-right: 5px;
}

.menu-bottom .installa a:hover img {
  filter: invert(0);
}

.menu-bottom .profile img {
  height: 26px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #6D6D6D;
}

.menu-bottom .profile span {
  color: white;
}

/***** MAIN *****/
main {
  float: left;
  height: 100%;
  width: calc(100% - 230px);
  background-color: #141922;
  overflow: auto;
}

/* call to action fixed */
.call-to-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 230px);   
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
}

.call-to-action .btn {
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px 40px;
  margin-right: 25px;
  cursor: pointer;
}

.call-to-action .btn:hover {
  transform: scale(1.1);
}

/* main menu */
.main-menu {
  padding-top: 90px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.main-menu ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 20px;
  padding-bottom: 6px;
}

.main-menu ul li.active::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 40%;
  top: 100%;
  left: 30%;
  background-color: #ADFF2F;
}

/*** content ***/
.content {
  padding: 20px;
}

.content h2 {
  font-size: 26px;
}

.content p {
  font-size: 14px;
  padding-top: 10px;
}

.content .row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}

/* album-card */
.album-card {
  width: calc(100% / 6);
  padding-right: 20px;
  cursor: pointer;
}

.album-card .album-image {
  position: relative;
}

.album-card img {
  width: 100%;
}

.album-card .album-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0; 
}

.album-card .album-image .overlay i {
  font-size: 70px;
  color: white;
}

.album-card:hover .overlay {
  opacity: 1;
}

.album-card .album-name {
  width: 12vw;
  text-align: center;
  padding-bottom: 10px;
}

.album-card .album-name h6 {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.album-card .album-name span {
  font-size: 13px;  
}

.artisti .album-card img {
  border-radius: 50%;
}

.artisti .album-card:hover .overlay {
  border-radius: 50%;
}



/***** FOOTER *****/
footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}

/* footer left */
.footer-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
}

.footer-left img {
  max-width: 50px;
}

.footer-left .song-name {
  display: flex;
  flex-direction: column;
}

.footer-left .song-name h6 {
  font-size: 13px;
}

.footer-left .song-name a {
  font-size: 12px;
}

.footer-left .song-name a:hover {
  color: white;
  text-decoration: underline;
}

.footer-left .icons i {
  font-size: 18px;
  padding-left: 10px;
}

.footer-left .icons i:hover {
  color: white;
}

/* footer center */
.footer-center {
  text-align: center;
  width: 40%;
}

.footer-center .player-icons i,
.footer-right .icons i {
  vertical-align: middle;
  font-size: 16px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.footer-center .player-icons .fa-play-circle {
  font-size: 30px;
}

.player-icons .fa-play-circle:hover {
  transform: scale(1.2);
}

.footer-center .player span {
  font-size: 11px;
  color: white;
}  

.footer-center .bar.player-bar {
  width: 430px;  
  margin: 0 25px;
}
  
.footer-center .player-bar .bar.small {  
  width: 85px;  
}

.footer-center .player-bar i {
  left: 85px;
}

/* footer-right */
.footer-right {
  width: 260px;
  line-height: 90px;
  vertical-align: middle;
}

.footer-right .icons {
  display: inline-block;
}

.footer-right .bar.volume {
  width: 120px;  
}
  
.footer-right .volume .bar.small {  
  width: 25px;  
}

.footer-right .volume i {
  left: 25px;
}