* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #6D6D6D;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.container {
  height: calc(100% - 90px);
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

h5, h6 {
  color: white;
}

/***** ASIDE *****/
aside {
  float: left;
  height: 100%;
  width: 230px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

/*** menù top ***/
.menu-top {
  height: calc(100% - 80px);
  min-height: 340px; 
  overflow: hidden;
}

.menu-top ul {
  list-style: none;
}

.menu-top ul li {
  line-height: 35px;
}

/* logo */
aside .logo {
  padding: 20px;
}

aside .logo img {
  height: 45px;
}

/* icons */
aside .icons {
  padding-bottom: 25px;
}

aside .icons img {
  height: 25px;
  vertical-align: middle;
  filter: invert(0.5);
  padding-left: 20px;
  padding-right: 3px;
}

aside .icons li.active {
  color: white;
  border-left: 3px solid #ADFF2F;  
}

aside .icons li.active img {
 filter: invert(0);
}

/* playlist */
aside .playlist {
 padding-left: 20px;
}

aside .playlist h5 {
  text-transform: uppercase;
}

aside .playlist i {
  font-size: 15px;
  padding: 10px;
  margin: 15px 7px 5px 0;
  color: black;
  background-color: #6D6D6D;
}

.playlist ul {
  min-height: 60px; 
  overflow: auto;
}

/** menù bottom **/
aside .menu-bottom {
  height: 80px;
  margin: 0 20px;
}

.menu-bottom .installa img {
  height: 20px;
  vertical-align: middle;
  filter: invert(0.5);
  margin-right: 5px;
}

.menu-bottom .installa {
  padding-bottom: 10px;  
  border-bottom: 1px solid #6D6D6D;
}

.menu-bottom .profile img {
  height: 26px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #6D6D6D;
}

.menu-bottom .profile {
  margin-top: 10px;
  color: white;
}

/***** MAIN *****/
main {
  float: left;
  height: 100%;
  width: calc(100% - 230px);
  background-color: #141922;
}

/* call to action fixed */
.call-to-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 230px);   
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
}

.call-to-action .btn {
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px 40px;
  margin-right: 25px;
  cursor: pointer;
}


/***** FOOTER *****/
footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}

/* footer left */
.footer-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
}

.footer-left img {
  width: 50px;
  height: 50px;
}

.footer-left span {
  font-size: 11px;
}

.footer-left i {
  padding-left: 10px;
}

/* footer center */
.footer-center {
  width: 40%;
  background-color: violet;
}

/* footer-right */
.footer-right {
  width: 230px;
  background-color: teal;
}