* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #6D6D6D;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

h5 {
  color: white;
}

/***** ASIDE *****/
aside {
  float: left;
  height: calc(100vh - 90px);
  width: 230px;
  background-color: rgb(0, 0, 0);
}

/*** menù top ***/
.menu-top {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 170px); 
}

.menu-top ul {
  list-style: none;
}

.menu-top ul li {
  line-height: 35px;
}

/* logo */
aside .logo {
  padding: 20px;
}

aside .logo img {
  height: 45px;
}

/* icons */
aside .icons {
  padding-bottom: 25px;
}

aside .icons img {
  height: 25px;
  vertical-align: middle;
  filter: invert(0.5);
  padding-left: 20px;
  padding-right: 3px;
}

aside .icons li.active {
  color: white;
  border-left: 3px solid #ADFF2F;  
}

aside .icons li.active img {
 filter: invert(0);
}

/* playlist */
aside .playlist {
 padding-left: 20px;
 overflow: auto;
}

aside .playlist h5 {
  text-transform: uppercase;
}

.playlist ul i {
  font-size: 15px;
  padding: 10px;
  margin: 15px 7px 5px 0;
  color: black;
  background-color: #6D6D6D;
}

/** menù bottom **/
aside .menu-bottom {
  height: 80px;
  margin: 0 20px;
}

.menu-bottom .installa img {
  height: 20px;
  vertical-align: middle;
  filter: invert(0.5);
  margin-right: 5px;
}

.menu-bottom .installa {
  padding-bottom: 10px;  
  border-bottom: 1px solid #6D6D6D;
}

.menu-bottom .profile img {
  height: 26px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #6D6D6D;
}

.menu-bottom .profile {
  margin-top: 10px;
  color: white;
}

/***** MAIN *****/
main {
  float: left;
  height: calc(100vh - 90px);
  width: calc(100% - 230px);
  background-color: #141922;
}

/* button fixed */
.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 230px;
  height: 90px;
  width: calc(100% - 230px);   
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
}

.button .btn {
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px 40px;
  margin-right: 25px;
  cursor: pointer;
}


/***** FOOTER *****/
footer {
  height: 90px;
  width: 100vw;
  background-color: #282828;
}
